@use "elevation_values" as *;

.message-wrapper {
  --_outline-clr: var(--outline-clr, #0a0a0a);
  --outline-clr: #b91c1c;

  font-family: system-ui;
  position: fixed;
  z-index: 9999;
  margin: auto;
  pointer-events: none;
  color: white;
  background-color: #2c303a;
  width: max-content;
  padding-inline: 0.5rem;
  padding-block: 0.125rem;
  border-radius: 0.375rem;
  border: 0.125rem solid var(--_outline-clr);
  transform: translateY(-100%) scaleX(70%);
  inset: 0 0 auto 0;
}

.message {
  font-size: clamp(1.125rem, 2vw, 1.5rem);
}

@keyframes showMessage {
  100% {
    inset: 16px 0 auto 0;
    transform: translateY(0%) scaleX(100%);
    box-shadow: $elevation-5dp;
  }
}

@keyframes hideMessage {
  0% {
    inset: 16px 0 auto 0;
    transform: translateY(0%) scaleX(100%);
  }
  100% {
    inset: 0 0 auto 0;
    transform: translateY(-100%) scaleX(70%);
    box-shadow: none;
  }
}
